
#order-now{
  background-image: url(Photos/8.jpg);
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.caption-3{
  color: white;
  font-family: racing sans one;
  font-size: 2rem;
  width: 700px;
  position: relative;
  margin: 0 auto;
  top: 20%;
  width: 550px;
}
.form-container{
  position: relative;
  top: 30%;
  margin: 0 auto;
}


input[type="email"]{
  width: 450px;
  height: 50px;
  border-radius: 25px;
  margin-right: -20px;
  padding-left: 25px;
  font-size: 1rem;
  border: none;
  font-family: outfit;
}
input[type="submit"]{
  position: relative;
  bottom: 1px;
  border: none;
  margin-left: -35px;
  border-radius: 30px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background: #640000;
  font-size: 1rem;
  font-family: outfit;
  font-weight: bold;
  color: white;
  cursor: pointer;

}
.footer{
  background: #111;
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.socialmedia{
  width: 250px;
  background: #111;
  height: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.honda-logo{
  height: max-content;
  width: max-content;
  justify-self: start;
  background: #111;
}

.honda-logo img{
  width: 300px; 

}



.logo-socmed{
  background: #111;
  width: 350px;
  position: relative;
  top: 40px;
  left: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 225px;
}

.contactus{
  display: flex;
  margin-right: 15%;
  width: 700px;
  justify-content: space-around;
}

a .title{
  color: red;
  font-family: roboto Condensed;
}

a p{
  font-size: .8rem;
  line-height: 1.5;
}

a{
  text-decoration: none;
}



@media all and (max-width:1300px){
  #order-now{
    background-image: url(photos/order-now\(3\).jpg);
    background-size: cover;
    background-position: 90%, center ;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .caption-3{
    color: white;
    font-family: racing sans one;
    font-size: 2rem;
    width: 700px;
    position: relative;
    margin: 0 auto;
    top: 20%;
    width: 550px;
  }
  .form-container{
    position: relative;
    top: 30%;
    margin: 0 auto;
  }
  
  
  input[type="email"]{
    width: 450px;
    height: 50px;
    border-radius: 25px;
    margin-right: -20px;
    padding-left: 25px;
    font-size: 1rem;
    border: none;
    font-family: outfit;
  }
  input[type="submit"]{
    position: relative;
    bottom: 1px;
    border: none;
    margin-left: -35px;
    border-radius: 30px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background: #640000;
    font-size: 1rem;
    font-family: outfit;
    font-weight: bold;
    color: white;
    cursor: pointer;
  
  }
  .footer{
    background: #111;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .socialmedia{
    width: 250px;
    background: #111;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .honda-logo{
    height: max-content;
    width: max-content;
    justify-self: start;
    background: #111;
  }
  
  .honda-logo img{
    width: 300px; 
  
  }
  
  
  
  .logo-socmed{
    background: #111;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 225px;
    margin-bottom: 100px;
    margin-right: 25%;
  }
  
  .contactus{
    display: flex;
    margin-right: 0;
    width: 700px;
    justify-content: space-around;
  }
  
  a .title{
    color: red;
    font-family: roboto Condensed;
  }
  
  a p{
    font-size: .8rem;
    line-height: 1.5;
  }
  
  a{
    text-decoration: none;
  }
  
}